*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box-itemize {
  margin-bottom: 30px;
   /* background-color: #fff; */
}
.ingredient_box {
  text-align: center;
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 4px;
}
.content-wrapper {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.search-form {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 30px;
}
.search-form input[type="text"] {
  position: relative;
}
.search-form button {
  position: absolute;
  top: 0;
  right: 1px;
  background: #be5727;
  border: 1px solid #be5727
} 
.search-form button:hover {
  background: #be5727;
  border: 1px solid #be5727
}
.loading-wrapper {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.loading-content {
  margin: 15% auto;
  width: 100%;
  max-width: 550px;
  text-align: center;
}
/* load spiner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* end loading spiner */